<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <p>Please enter your new password below.</p>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <div class="error-msg" *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched">
        Passwords do not match.
      </div>

      <ion-button expand="block" type="submit" [disabled]="resetForm.invalid || isLoading">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">Reset Password</span>
      </ion-button>
    </form>
  </div>
</ion-content>