PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PORT=3306
DB_PASS=your_password
DB_NAME=gym_manager
JWT_SECRET=your_jwt_secret

CRON_TIMEZONE=xyz

GUPSHUP_API_KEY=your_gupshup_api_key
GUPSHUP_PHONE_NUMBER=your_gupshup_phone_number
GUPSHUP_WHATSAPP_FROM=your_number_to_send_from
GUPSHUP_SENDER_ID=your_gupshup_sender_id

AWS_ACCESS_KEY_ID=xyz
AWS_SECRET_ACCESS_KEY=xyz
AWS_REGION=xyz
AWS_S3_BUCKET=xyz