<ion-content class="splash-content">
  <div class="splash-container">
    <div class="logo-container">
      <div class="logo-background">
        <img src="../../assets/icon/brandLogo.jpg" class="logo-img" alt="TitanFit Logo">
      </div>
    </div>
    
    <div class="brand-container">
      <h1 class="brand-name">Gym Net Solution</h1>
      <p class="brand-tagline">Manage Your Gym Empire</p>
    </div>
    
    <div class="progress-container">
      <div class="progress-bar">
        <div class="progress-fill"></div>
      </div>
    </div>
  </div>
</ion-content>