<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <p>Enter your email address and we'll send you a link to reset your password.</p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <ion-item fill="outline" class="ion-margin-bottom">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="forgotForm.invalid || isLoading">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">Send Reset Link</span>
      </ion-button>
    </form>
  </div>
</ion-content>